---
interface Props {
    comentario: string;
    nombre: string;
    puesto: string;
    img: string;
}

const { comentario, nombre, puesto, img } = Astro.props;
---

<div class="card p-8 border rounded-lg dark:border-gray-700">
    <p class="leading-loose text-gray-500 dark:text-gray-400">
        “{comentario}”.
    </p>

    <div class="flex items-center py-auto mt-8 -mx-2">
        <img class="object-cover mx-2 rounded-full w-14 shrink-0 h-14 ring-4 ring-gray-300 dark:ring-gray-700" src={img} alt={nombre}>

        <div class="mx-2">
            <h1 class="font-semibold text-gray-800 dark:text-black">{nombre}</h1>
            <span class="text-sm text-gray-500">{puesto}</span>
        </div>
    </div>
</div>
